<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>CSS下雨效果</title>
    <script src="/js/jquery3.2.1.js"></script>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/article_detail.css">
    <style>
       </style>
</head>

<body class="splat-toggle">
    <div class="background">
        <div class="rain front-row"></div>
        <div class="rain back-row"></div>
        <div class="toggles">
            <div class="splat-toggle toggle active">SPLAT</div>
            <div class="back-row-toggle toggle">BACK<br>ROW</div>
            <div class="single-toggle toggle">SINGLE</div>
        </div>
    </div>

<script src="/js/article_detail.js"></script>
</body>

</html>
