<div class="footer">
    <div class="container">
        <p>注:当前主题为个人博客自主研发，版权所有</p>
        <p style="color:#28d0e9;">
            该网站勉强运行
            <span id="footer-time">计算中~~~</span>
        </p>
        <p>
            © 2018-2020
            <a href="">个人博客</a>
            本站主题由
            <a href="javascript:;">XIAOYE121.COM</a>
            提供 冀ICP备18009254号
        </p>
    </div>
</div>
<script type="text/javascript" src="/js/footer.js"></script>