<!doctype html> <!-- 声明文档类型-->
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <title>个人博客</title>
    <meta name="Keyword" content="关键词,关键词">
    <meta name="description" content="描述">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_657907_qhws5fy4mf426gvi.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/Z-1.0.0.js"></script>
</head>

<body>

    <% include header.ejs %>

    <!--主体 start-->
    <div class="main">
        <div class="page page1" style="display:block;">
            <div class="animation-left">
                <div class="animation-left-img">
                    <img src="images/main/download_hand.png" alt="">
                </div>
            </div>
            <div class="animation-right">
                <div class="animation-right-text">
                    成功无他
                    <p>唯有自信和坚持</p>
                </div>
            </div>
        </div>
        <div class="page page2" style="display:none;">
            <div class="animation-left">
                <div class="animation-left-text">
                    <h2 class="page-page2-title">每一天都极度认真</h2>
                    <h3 class="page-page2-sub">人生如此短暂，何不认真对待人生中的每一天，让每一天都充满价值</h3>
                </div>
            </div>
            <div class="animation-right page2-right">
                <div class="animation-right-img">
                    <div class="page2-right-img1">
                        <img src="images/main/function1_book_page1_4x2761ce.jpg" alt="">
                    </div>
                    <div class="page2-right-img2">
                        <img src="images/main/function1_book_page2_2x2761ce.jpg" alt="">
                    </div>
                    <div class="page2-right-img3">
                        <img src="images/main/function1_book_page2_4x2761ce.jpg" alt="">
                    </div>
                </div>
                <div class="page2-right-bottom-text page-page2-sub">
                    用心打造，用心打磨
                </div>
            </div>
        </div>
        <div class="page page3" style="display:none;">
            <div class="animation-left">
                <div class="animation-left-text">
                    <h2 class="page-page2-title">谦虚戒躁</h2>
                    <h3 class="page-page2-sub">谦虚使人进步，骄傲使人落后。做人不要唯唯诺诺，也不需要高傲嚣张，应当不卑不亢。</h3>
                </div>
            </div>
            <div class="animation-right animation-page3-right">
                <div class="page3-right">
                    <div class="page3-right-top">
                        <div class="page3-right-top-img1"></div>
                        <div class="page3-right-top-img2"></div>
                        <div class="page3-right-top-img3"></div>
                        <div class="page3-right-top-text"></div>
                    </div>
                    <div class="page3-right-bottom">

                    </div>
                </div>
            </div>
        </div>
        <div class="page page2" style="display:none;">
            <div class="animation-left">
                <div class="animation-left-text">
                    <h2 class="page-page2-title">活着就要感谢</h2>
                    <h3 class="page-page2-sub">随时随地常怀感恩心,活着就要感谢</h3>
                </div>
            </div>
            <div class="animation-right page2-right">
                <div class="animation-right-img">
                    <div class="page2-right-img1">
                        <img src="images/main/function1_book_page1_4x2761ce.jpg" alt="">
                    </div>
                    <div class="page2-right-img2">
                        <img src="images/main/function1_book_page2_2x2761ce.jpg" alt="">
                    </div>
                    <div class="page2-right-img3">
                        <img src="images/main/function1_book_page2_4x2761ce.jpg" alt="">
                    </div>
                </div>
                <div class="page2-right-bottom-text page-page2-sub">
                    用心打造，用心打磨
                </div>
            </div>
        </div>
        <div class="page page5" style="display:none;">
            <div class="animation-left page5-animation-left">
                <div class="page5-animation-left-text">
                    <h2 class="page-page5-title">关于博主</h2>
                    <p class="page-page5-sub">人生没有如果,命运没有假设；不要尽力而为，而要全力以赴。</p>
                    <p class="page-page5-sub2"> 想要不可替代，就必须与众不同。耐得住寂寞才能守得住繁华，该奋斗的年纪不要选择了安逸。</p>
                    <p class="page-page5-sub3">成长是一场和自己的比赛，度过了一段难熬的日子，才能遇见那个最好的自己。</p>
                    <p class="page-page5-sub4">世间的所有好运，都只依附强大的人。任何时候，都需要变得优秀。现在的付出，将来的幸福，那些转错的弯，留下的泪，都将成为独一无二的自己。</p>
                </div>
            </div>
            <div class="animation-right page2-right">
                <div class="animation-right-img">
                    <div class="page2-right-img1">
                        <img src="images/main/function1_book_page1_4x2761ce.jpg" alt="">
                    </div>
                    <div class="page2-right-img2">
                        <img src="images/main/function1_book_page2_2x2761ce.jpg" alt="">
                    </div>
                    <div class="page2-right-img3">
                        <img src="images/main/function1_book_page2_4x2761ce.jpg" alt="">
                    </div>
                </div>
                <div class="page2-right-bottom-text page-page2-sub">
                    用心打造，用心打磨
                </div>
            </div>
        </div>
    </div>
    <!--主体 end-->


    <!--按钮图标 start-->
    <div class="btn">
        <div id="right-btn" class="sidebar-btn"></div>
        <div id="left-btn" style="display:none;" class="sidebar-btn"></div>
        <div id="bottom-btn">
            <ul class="bottom-btn">
                <li class="on"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <!--按钮图标 end-->

    <script src="js/index.js"></script>
</body>

</html>