<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>完整demo</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/ue.css">
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
    <script src="/js/Z-1.0.0.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <% include header.ejs %>
    <div class="article-info ue-content">
        <span>文章标题</span>
        <input id="article-title" type="text" value="">
    </div>
    <div class="ue-content clearfix">
        <div id="fs-article-img" class="fl">
            <div>
                <div class="img-drop">
                    点击下方按钮或将图片拖拽至此处上传文章图片
                </div>
                <div class="img-file">
                    选择图片
                    <input type="file" id="article-img_input">
                </div>
            </div>
        </div>
        <div class="show-img fl">

        </div>
    </div>
    <div>
        <script id="editor" type="text/plain" style="width:1024px;height:500px;margin:auto;"></script>
    </div>

    <div class="article-otherinfo ue-content">
        <span>情感抒发</span>
        <input type="radio" id="type_love" name="article-type" value="type_love" />
        <label for="type_love">love</label>
        <br />

        <span>前端技术</span>
        <input type="radio" id="type_html/css"  name="article-type" value="type_html/css" />
        <label for="type_html/css">HTML/CSS</label>
        <input type="radio" id="type_javascript" name="article-type" value="type_javascript" />
        <label for="type_javascript">javascript</label>
        <input type="radio" id="type_html5/css3" name="article-type" value="type_html5/css3" />
        <label for="type_html5/css3">html5/css3</label>
        <input type="radio" id="type_jQuery" name="article-type" value="type_jQuery" />
        <label for="type_jQuery">jQuery</label>
        <input type="radio" id="type_vue" name="article-type" value="type_vue" />
        <label for="type_vue">Vue</label>
        <br />

        <span>后台</span>
        <input type="radio" id="type_node" name="article-type" value="type_jQuery" />
        <label for="type_node">node.js</label>
        <br />

        <span>数据库</span>
        <input type="radio" id="type_mysql" name="article-type" value="type_mysql" />
        <label for="type_mysql">mysql</label>
        <input type="radio" id="type_sqlserver" name="article-type" value="type_sqlserver" />
        <label for="type_sqlserver">sqlserver</label>
        <input type="radio" id="type_mongodb" name="article-type" value="type_mongodb" />
        <label for="type_mongodb">mongodb</label>
        <br />
        <span>开发工具</span>
        <input type="radio" id="type_tool" name="article-type" value="type_tool" />
        <label for="type_tool">开发工具</label>

    </div>
    <div class="article-submit ue-content">
        <a href="javascript:;" class="article-submit-btn">发表文章</a>
        <a href="javascript:;" class="article-submit-btn">取消</a>
    </div>
    <script src="/js/ue.js"></script>
</body>
</html>