@charset "utf-8";
.content{width:1240px; margin:auto;}
body{background:url('../images/body/background.jpg') no-repeat; transition:1s;}

/*头部 start*/
.header{width:100%; height:65px;}
.header-fixed{position:fixed; z-index:1200; right:0; left:0; margin:auto; height:65px; color:#222;}
#logo{width:169px; height:40px; margin-top:14px; font-size:26px; color:#66CCFF; cursor:pointer;}

.h-login_user{width:250px; margin:21px 0 0 35px;}
.h-login_user .islogin{margin-top:-5px;}
.h-login_user .h-login-user{position:relative; display:inline-block;}
.h-login_user .h-login-user .h-username{display:inline-block;}
.h-login .h-username:hover{color:#00a2d4;}
.h-login-user:hover .h-username-info{display:block;}
.h-login_user .h-username-info{display:none; position:absolute; top:29px; left:0; width:140px; padding-top:20px; text-align:center; cursor:pointer;}
.h-userimg_img{width:40px; height:40px; border-radius:50%;}
.h-login .h-username-info p:hover{color:red;}
#h-reg{margin-left:5px;}
#h-login:hover{color:#00a2d4;}
#h-reg:hover{color:#00a2d4;}
.h-nav{width:640px; margin:17px 0 0; opacity:0; animation:navSliding .6s 1.8s; animation-fill-mode:forwards;}
.h-nav li{float:left; width:124px; height:34px; margin:0 14px; font-size:16px; text-align:center; line-height:34px; cursor:pointer; transition:.5s;}
.h-nav li:hover{ color:#00a2d4;}
@-webkit-keyframes navSliding {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
/*头部 end*/

/*登录注册  start*/
#login{display:none; overflow:hidden; position:absolute; z-index:100; top:0; left:0; right:0; bottom:0; margin:auto; width:330px; height:232px; padding:36px 35px 40px; background-color:#fff; box-shadow:3px 3px 5px rgba(0,0,0,.5); opacity:0; transition:1.6s;}
#login.login-show{ opacity:1;}
.login-info h3{font-size:20px; font-weight:400; color:#222; font-style:normal;}
.login-input{margin-top:5px;}
.login-input-div{position:relative; padding:3px 0 3px 54px; border:1px solid #e7e7eb; margin-top:-1px;}
.login-input-i{position:absolute; left:15px; top:50%; margin-top:-11px; width:16px; height:18px; vertical-align:middle; color:#666;}
.login-input-input{height:20px; padding:11px 0; outline:0;/* border-color:rgba(26,173,25,.6);*/ border:none;}
.login-remember-user{margin-top:10px;}
.login-remember-user label{cursor:pointer;}
.login-checkbox{width:16px; height:16px; vertical-align:center; display:inline-block; margin-right:4px; cursor:pointer;}
a.forget-user{color:#576b95; font-size:14px;}
a.forget-user:hover{text-decoration:underline;}
.login-btn{margin-top:20px; margin-bottom:10px;}
.login-btn-a{display:inline-block; width:120px; height:33px; line-height:33px; vertical-align:middle; text-align:center; border:1px solid; background:#44b549; color:#fff;}
/*登录注册  end*/