body{background:none;}

.ue-content{width:1024px; margin:auto;}
.article-info span{font-size:16px;}
.article-info #article-title{padding-left:10px; outline:none; font:400 16px/30px "微软雅黑"; border:1px solid #ccc;}

.article-otherinfo input{cursor:pointer;}
.article-otherinfo label{margin-right:100px; cursor:pointer;}
#fs-article-img{position:relative; width:220px; height:150px; margin:20px; font-size:16px; background:#F1F1F1; color:#333; line-height:30px;}
#fs-article-img .img-drop{display:block; width:220px; height:120px; background:url("../images/article/image.png") no-repeat center center;}
#fs-article-img .img-file{position:relative; display:block; width:100%; height:40px; color:rgb(255, 255, 255); text-align:center; background:rgb(107, 195, 13); font:400 18px/40px 微软雅黑; transition:all 0.3s;}
#article-img_input{position:absolute; opacity:0; top:0; left:0; width:100%; height:100%; cursor:pointer;}
.show-img{width:220px; height:150px; margin:20px; margin-left:100px; border:1px solid #aaa;}
.show-img img{width:100%; height:100%;}
#editor{width:1024px;}


.article-submit{padding-top:10px; padding-bottom:100px;}
.article-submit-btn{display:inline-block; width:70px; padding:4px 10px; border:1px solid #000; text-align:center; background:#6B86B3; color:#fff; cursor:pointer;}
.article-submit-btn:hover{background:#fff; color:#CC0066; text-decoration:underline;}
